body {
    background-image: url('media/sky.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.visible {
    display: block;
}

.hidden {
    display: none;
}

#image {
    margin-top: -22px;
}